h1 {
  padding: 20px;
  margin: 0;
  display: inline-block;
  font-weight: 700;
}

span {
  font-size: 1.2em;
}

.App > img {
  margin-bottom: 26px;
}

@media screen and (max-width: 425px) {
  .App > img {
    margin-bottom: 11px;
  }
}
