h1 {
  margin: 0 20px 0 0;
  display: inline-block;
  font-weight: 700;
}

span {
  font-size: 1.2em;
}

.App > img {
  margin-bottom: 26px;
}

@media screen and (max-width: 425px) {
  .App > img {
    margin-bottom: 11px;
  }
}

.header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-links {
  display: flex;
}

.social-links a {
  display: inline-block;
  margin-left: 20px;
}

.social-links img {
  height: 20px;
}
